// styles/components/_card.scss

@use "../tokens/colors" as *;
@use "../tokens/spacing" as *;
@use "../tokens/timing" as *;
@use "../tokens/typography" as *;
@use "../tokens/mixins" as *;
@use "../base/breakpoints" as *;

.card {
  background-color: var(--surface-raised);
  padding: $space-4;

  border-radius: $radius-lg;
  border-width: $space-1;
  border-left: solid;
  border-color: var(--brand-primary);

  margin-top: $space-4;
  margin-bottom: $space-4;

  ul,
  ol {
    margin: 0;
  }

  li,
  p {
    font-size: $font-size-sm;
  }

  .resume {
    &-header {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "title     date"
        "meta      location"
        "links     links";
      gap: $space-2 $space-4;

      ul,
      li {
        list-style: none;
        margin-left: 0;
      }

      .resume-job-title {
        grid-area: title;
        margin: 0;
        font-size: $font-size-base;
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        color: var(--text-primary);
      }

      .resume-employer {
        grid-area: meta;
        margin: 0;
        font-size: $font-size-base;
        color: var(--text-secondary);
      }

      .resume-job-date {
        grid-area: date;
        margin: 0;
        text-align: right;
        font-size: $font-size-base;
        color: var(--text-secondary);
      }

      .resume-job-location {
        grid-area: location;
        margin: 0;
        text-align: right;
        font-size: $font-size-sm;
        color: var(--text-tertiary);
      }

      .subtitle,
      .tech-stack {
        grid-area: meta;
        margin: 0;
        font-size: $font-size-sm;
        color: var(--text-tertiary);
      }

      .tech-stack {
        font-size: $font-size-xs;
        color: var(--text-secondary);

        .tech-items:not(:last-child)::after {
          content: "•";
          margin: 0 $space-2;
        }
      }

      .project-links {
        grid-area: links;
        font-size: $font-size-xs;
      }
    }
  }
}
