// styles/components/_card.scss

@use "../tokens/colors" as *;
@use "../tokens/spacing" as *;
@use "../tokens/timing" as *;
@use "../tokens/typography" as *;
@use "../tokens/mixins" as *;
@use "../base/breakpoints" as *;

%card-base {
  background-color: var(--surface-raised);
  padding: $space-4;

  border-radius: $radius-lg;
  border-width: $space-1;
  border-left: solid;
  border-color: var(--brand-primary);

  margin-top: $space-4;
  margin-bottom: $space-4;
}

.card {
  @extend %card-base;

  ul,
  ol {
    margin: 0;
  }
  li,
  p {
    font-size: $font-size-sm;
  }
}
