// styles/tokens/_typography.scss

@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

$font-family-sans: "Hanken Grotesk", sans-serif;
$font-family-mono: "Geist Mono", monospace;

body {
  font-family: $font-family-sans;
}

:is(code, kbd, samp, pre) {
  font-family: $font-family-mono;
}
