// styles/tokens/_typography.scss

@use "spacing" as *;
@use "timing" as *;

@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

$font-family-sans: "Schibsted Grotesk", sans-serif;
$font-family-mono: "Geist Mono", monospace;

$font-size-2xs: 0.6875rem; // 11px
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-base: 0.9375rem; // 15px
$font-size-lg: 1rem; // 16px
$font-size-xl: 1.125rem; // 18px
$font-size-2xl: 1.25rem; // 20px
$font-size-3xl: 1.5rem; // 24px
$font-size-4xl: 1.75rem; // 28px

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-base: 1.5;

$heading-sizes: (
  h1: $font-size-3xl,
  h2: $font-size-2xl,
  h3: $font-size-xl,
  h4: $font-size-lg,
  h5: $font-size-base,
  h6: $font-size-sm,
);

$heading-top-margins: (
  h1: $space-7,
  h2: $space-6,
  h3: $space-5,
  h4: $space-4,
  h5: $space-4,
  h6: $space-4,
);
